@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";


.background-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.8)), url('https://images.unsplash.com/photo-1497493292307-31c376b6e479?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTZ8fHRlY2glMjBibG9nfGVufDB8fDB8fHww');
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 600px;
    position: relative;
    overflow: hidden;
    transition: 0.1s ease-in-out;
}

img {
    width: 100%;
}

.background-image-text {
    font-size: 2rem;
}

.image-padding {
    padding-bottom: 2rem;
}

.nav-footer-color {
    color: white;
}

.nav-footer-color:hover {
    color: #0E2D95;
}

.username {
    color: white;
}

.nav-footer-background-color {
    background-color: #0077B6;
}

.social-icons a:hover {
    cursor: pointer;
    padding: 0px 7px;
}
.social-icons a i:hover{
    color:#0E2D95;
}

.imageInReadMore {
    width: 80vw;
    margin: auto;
}

.titleInReadMore {
    font-size: 2rem;
    line-height: 3rem;
    font-weight: 700;
}

.topicInMain {
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 3.25rem;
}

.topicContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.background-image-button {
    background-color: white;
}

.background-image-button:hover {
    background-color: #4681f4;
    color: white;
}

.loveOnSlugs {
    font-size: 20px;
}

.selectSort {
    background-color: #f7fafc;
    text-transform: uppercase;
    color: #1a202c;
    font-weight: 800;
    font-size: 0.75rem;
    padding: 0.75rem 1rem;
    border-width: 2px;
    border-color: #475569;
    margin-left: 0.5rem;
}

@media (max-width: 640px) {
    .sm\:flex {
        display: flex;
        margin-top: 0.75rem;
    }
}

.button-color {
    background-color: #3E92CC;
    /* color:black; */
}

.button-color:hover {
    background-color: #054A91;
    /* color:white; */
}

h2 {
    line-height: 2rem;
}

.about-background-color {
    background-color: #C6DDF0;
}

.cancel-button-color {
    background-color: #a9a9a9;
}

.cancel-button-color:hover {
    background-color: grey;
}